.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "display display display display"
    "clear c divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
}

.padButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: grey;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
}

.padButton:hover {
  opacity: 0.8;
}

.display {
  grid-area: display;
  background-color: black;
  text-align: right;
}
.expression {
  color: rgb(255, 255, 255);
  border: none;
  margin-right: 10px;
  text-align: right;
  width: 98%;
  background-color: black;
}
.answer {
  color: #0076fc;
  font-size: 20px;
  border: none;
  margin: 0;
  margin-right: 10px;
  text-align: right;
  width: 98%;
  background-color: black;
}
.equals {
  grid-area: equals;
  background-color: #5599ff;
}
.zero {
  grid-area: zero;
}

.dark-grey {
  background-color: #333;
}
.red {
  background-color: tomato;
}
